<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.firebasedemo">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FirebaseDemo">
        <activity
            android:name=".NewProductActivity"
            android:exported="false"
            android:parentActivityName=".NewBoutiqueActivity"/>
        <activity
            android:name=".NewBoutiqueActivity"
            android:exported="false"
            android:parentActivityName=".SellerBoutiquesActivity" />
        <activity
            android:name=".SellerBoutiquesActivity"
            android:exported="true">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SellerCommandesActivity"
            android:exported="false" />
        <activity
            android:name=".BuyerCommerceActivity"
            android:exported="false" />
        <activity
            android:name=".BuyerProductsActivity"
            android:exported="false" />
        <activity
            android:name=".MainSellerActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false"
            android:parentActivityName=".StartActivity" />
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:parentActivityName=".StartActivity" />
        <activity
            android:name=".StartActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainBuyerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />
            </intent-filter>
        </activity>
    </application>

</manifest>